main {
  width: 80%;
  margin: 0 auto;
}

button {
  font-weight: 800;

  border-radius: 20px;
  outline: none;
  border: none;

  background-color: aquamarine;
}

button:hover {
  opacity: 0.7;

  cursor: pointer;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.table {
  width: 50vw;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: aquamarine;
  color: #122;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

#btn-stop {
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

#interval-btn {
  width: 60px;
  height: 30px;
}